.genres{
    display: flex;
    gap: 5px;
    .genre{
        background-color: rgb(208, 56, 56);
        padding: 3px 5px;
        font-size: 30px;
        border-radius: 4px;
        color: white;
        white-space: nowrap;
    }
}